<app-map-overlay></app-map-overlay>
<agm-map
  appMapExtension
  [latitude]="mapCenterLat | async"
  [longitude]="mapCenterLng | async"
  [disableDefaultUI]="false"
  [zoom]="mapZoomLevel | async"
  [maxZoom]="17"
>
  <!-- TODO: is max zoom the problem with the fit bounds bug? -->
  <!--start location-->
  <agm-marker
    *ngIf="searchOriginLat | async"
    [latitude]="searchOriginLat | async"
    [longitude]="searchOriginLng | async"
    [markerDraggable]="true"
    (dragEnd)="originMarkerDragEnd($event)">
  </agm-marker>
  <!-- TODO: make markers smaller, get custom marker svgs -->
  <!-- TODO: add 'bullseye' to marker? -->
  <!-- TODO: offset polyline so it doesn't overlap marker? -->

  <!--walking directions # 1-->
  <app-polyline
    *ngIf="walkingPoints1 | async"
    [points]="walkingPoints1 | async"
    [lineId]="'WALKING_1'">
  </app-polyline>

  <!--station 1 location-->
  <agm-marker
    [iconUrl]="'assets/icons/station.svg'"
    *ngIf="station1Lat | async"
    [latitude]="station1Lat | async"
    [longitude]="station1Lng | async"
    [markerDraggable]="false">
  </agm-marker>

  <!--bicycle directions-->
  <app-polyline
    *ngIf="bicyclePoints | async"
    [points]="bicyclePoints | async"
    [lineId]="'BICYCLING'">
  </app-polyline>

  <!--station 2 location-->    <!--*ngIf="station2Lat | async"-->
  <agm-marker
    [iconUrl]="'assets/icons/station.svg'"
    *ngIf="station2Lat | async"
    [latitude]="station2Lat |  async"
    [longitude]="station2Lng | async"
    [markerDraggable]="false">
  </agm-marker>

  <!--walking directions # 2-->
  <app-polyline
    *ngIf="walkingPoints2 | async"
    [points]="walkingPoints2 | async"
    [lineId]="'WALKING_2'">
  </app-polyline>

  <!--destination-->
  <agm-marker
    *ngIf="searchDestinationLat | async"
    [latitude]="searchDestinationLat | async"
    [longitude]="searchDestinationLng | async"
    [markerDraggable]="true"
    (dragEnd)="destinationMarkerDragEnd($event)">
  </agm-marker>

</agm-map>
