<div class="time-target-container">
  <div class="btn-group" dropdown>
    <div class="label-icon-container dropdown-toggle" dropdownToggle>
      <label class="">{{ searchTimeTarget | async }}</label>
      <span class="glyphicon glyphicon-triangle-bottom"></span>
    </div>

    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem">
        <a class="dropdown-item" href="#" (click)="onTargetOptionClick('Leave now')">
          Leave now
        </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#" (click)="onTargetOptionClick('Depart at')">
          Depart at
        </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#"(click)="onTargetOptionClick('Arrive by')">
          Arrive by
        </a>
      </li>
    </ul>
  </div>
</div>

