<form #f="ngForm" class="form-login">
  <h4 class="form-signin-heading">Log In to Your Account</h4>
  <div class="form-group has-feedback has-clear">
    <label for="inputEmail">Email:</label>
    <input name="email" ngModel type="email" id="inputEmail" class="form-control" placeholder="Enter your email address" required autofocus>
  </div>
  <div class="form-group has-feedback has-clear">
    <label for="inputPassword">Password:</label>
    <input name="password" ngModel type="password" id="inputPassword" class="form-control" placeholder="Enter your password" required>
  </div>
  <button
    class="btn log-in"
    type="submit"
    (click)="logIn(f)">
    Log in
  </button>
</form>
