<div class="form-group has-feedback has-clear">
  <label for="origin">Origin</label>
  <input
    #originInput
    [disabled]="searchOriginAddressFetching | async"
    class="form-control"
    id="origin"
    aria-describedby="originHelp"
    [placeholder]="placeholderText"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    [value]="searchOriginAddress | async"
    (input)="inputChange($event)"/>
<span
  *ngIf="showX"
  class="form-control-clear glyphicon glyphicon-remove form-control-feedback"
  (click)="onXClick()">
</span>
</div>
