:host {
  position: fixed;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 320px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px;
  background: white;
}

.rental-search-submit {
  margin-top: 10px;
  background: black;
  color: white;
  width: 100%;
}
