<div class="form-group has-feedback has-clear">
  <label for="destination">Destination</label>
  <input
    #destinationInput
    [disabled]="destinationFetching | async"
    type="text"
    class="form-control"
    id="destination"
    aria-describedby="destinationHelp"
    [placeholder]="placeholderText | async"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    [value]="destinationAddress | async"
    (input)="inputChange($event)"/>
  <span
    *ngIf="showX | async"
    class="form-control-clear glyphicon glyphicon-remove form-control-feedback"
    (click)="onXClick()">
  </span>
</div>
<!-- TODO: set focus on destination input if/after geolocation on origin is successful -->
