<app-menu-icon></app-menu-icon>
<div class="container">
  <form #f="ngForm" class="form-signup">
    <h4 class="form-signin-heading">Sign up for an account</h4>
    <app-input
      name="email"
      type="email"
      [inputValue]="email | async"
      placeholderText="Enter your email"
      (valueChange)="emailChange($event)">
    </app-input>
    <app-input
      name="password"
      type="password"
      [inputValue]="password | async"
      placeholderText="Enter your password"
      (valueChange)="passwordChange($event)">
    </app-input>
    <button
      class="btn log-in"
      type="submit"
      [disabled]="disabled | async"
      (click)="logIn(f)">
      {{ !(fetching | async ) ? 'Sign Up' : 'Authenticating...'}}
      <span *ngIf="fetching | async" class="glyphicon glyphicon-repeat"></span>
    </button>
  </form>
  <p>Already a member? <a routerLink="/login">Log in</a> instead.</p>
</div>

