<app-map-overlay></app-map-overlay>
<agm-map
  appMapExtension
  [latitude]="(mapCenter | async).lat"
  [longitude]="(mapCenter | async).lng"
  [disableDefaultUI]="false"
  [zoom]="mapZoomLevel | async"
  [maxZoom]="17"
  [styles]="styles"
>
  <!-- TODO: is max zoom the problem with the fit bounds bug? -->
  <!--start location-->
  <agm-marker
    *ngIf="origin | async"
    [latitude]="(origin | async).lat"
    [longitude]="(origin | async).lng"
    [markerDraggable]="true"
    (dragEnd)="originMarkerDragEnd($event)">
  </agm-marker>
  <!-- TODO: make markers smaller, get custom marker svgs -->
  <!-- TODO: add 'bullseye' to marker? -->
  <!-- TODO: offset polyline so it doesn't overlap marker? -->

  <!--walking directions # 1-->
  <app-polyline
    *ngIf="response | async"
    [points]="(response | async).walking1Points"
    [lineId]="'WALKING_1'">
  </app-polyline>

  <!--station 1 location-->
  <agm-marker
    [iconUrl]="'assets/icons/station.svg'"
    *ngIf="response | async"
    [latitude]="(response | async).station1Coords.lat"
    [longitude]="(response | async).station1Coords.lng"
    [markerDraggable]="false">
  </agm-marker>

  <!--bicycle directions-->
  <app-polyline
    *ngIf="response | async"
    [points]="(response | async).bicyclingPoints"
    [lineId]="'BICYCLING'">
  </app-polyline>

  <!--station 2 location-->    <!--*ngIf="station2Lat | async"-->
  <agm-marker
    [iconUrl]="'assets/icons/station.svg'"
    *ngIf="response | async"
    [latitude]="(response | async).station2Coords.lat"
    [longitude]="(response | async).station2Coords.lat"
    [markerDraggable]="false">
  </agm-marker>

  <!--walking directions # 2-->
  <app-polyline
    *ngIf="response | async"
    [points]="(response | async).walking2Points"
    [lineId]="'WALKING_2'">
  </app-polyline>

  <!--destination-->
  <agm-marker
    *ngIf="destination | async"
    [latitude]="(destination | async).lat"
    [longitude]="(destination | async).lng"
    [markerDraggable]="true"
    (dragEnd)="destinationMarkerDragEnd($event)">
  </agm-marker>

</agm-map>
