<app-map-overlay></app-map-overlay>
<agm-map
  appMapExtension
  [latitude]="mapCenterLat | async"
  [longitude]="mapCenterLng | async"
  [disableDefaultUI]="false"
  [zoom]="mapZoomLevel | async"
  [maxZoom]="17"
>
  <!-- TODO: is max zoom the problem with the fit bounds bug? -->
  <!--start location-->
  <agm-marker
    *ngIf="searchOriginLat | async"
    [latitude]="searchOriginLat | async"
    [longitude]="searchOriginLng | async"
    [markerDraggable]="true"
    (dragEnd)="originMarkerDragEnd($event)">
  </agm-marker>

  <!--walking directions # 1-->
  <agm-polyline>
    <agm-polyline-point
      *ngFor="let point of points"
      [latitude]="point.lat"
      [longitude]="point.lng">
    </agm-polyline-point>
  </agm-polyline>

  <!--station 1 location-->
  <agm-marker
    *ngIf="station1Lat | async"
    [latitude]="station1Lat | async"
    [longitude]="station1Lng | async"
    [markerDraggable]="false">
  </agm-marker>

  <!--station 2 location-->
  <agm-marker
    *ngIf="station2Lat | async"
    [latitude]="station2Lat | async"
    [longitude]="station2Lng | async"
    [markerDraggable]="false">
  </agm-marker>

  <!--destination-->
  <agm-marker
    *ngIf="searchDestinationLat | async"
    [latitude]="searchDestinationLat | async"
    [longitude]="searchDestinationLng | async"
    [markerDraggable]="true"
    (dragEnd)="destinationMarkerDragEnd($event)">
  </agm-marker>

</agm-map>
