<div class="overlay" *ngIf="mapRendering | async">
</div>
<agm-map
  appMapExtension
  [latitude]="searchOriginLat | async"
  [longitude]="searchOriginLng | async"
  [disableDefaultUI]="false"
  [zoom]="14"
  [maxZoom]="17"
  [fitBounds]="mapBounds | async">

  <!--start location-->
  <agm-marker
    *ngIf="searchOriginLat | async"
    [latitude]="searchOriginLat | async"
    [longitude]="searchOriginLng | async"
    [markerDraggable]="true"
    (dragEnd)="originMarkerDragEnd($event)">
  </agm-marker>

  <!--station 1 location-->
  <agm-marker
    *ngIf="station1Lat | async"
    [latitude]="station1Lat | async"
    [longitude]="station1Lng | async"
    [markerDraggable]="false">
  </agm-marker>

  <!--station 2 location-->
  <agm-marker
    *ngIf="station2Lat | async"
    [latitude]="station2Lat | async"
    [longitude]="station2Lng | async"
    [markerDraggable]="false">
  </agm-marker>

  <!--destination-->
  <agm-marker
    *ngIf="searchDestinationLat | async"
    [latitude]="searchDestinationLat | async"
    [longitude]="searchDestinationLng | async"
    [markerDraggable]="true"
    (dragEnd)="destinationMarkerDragEnd($event)">
  </agm-marker>

</agm-map>
