
.left-col,
.icon-col,
.middle-col,
.right-col {
  display: inline-block;
}

.left-col {
  width: 65px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}

.icon-col {
  margin-right: 8px;
  text-align: center;
  width: 10px;
  position: relative;

  & img {
    position: absolute;
  }
}

.middle-col {

}

.right-col {
  float: right;
}


// icon positioning

.bicycle-line {
  top: -13px;
  left: 3px;
}

.station {
  left: 2px;
}

.station-1 {
  top: -12px;
}

.station-2 {
  top: -15px;
}

.walk-dots {
  left: 4px;
  top: -18px;
}


.left-col .glyphicon {
  float: right;
  margin-right: 5px;
}

.result-row {
  margin-top: 8px;
  margin-bottom: 8px;
}


.total-price {
  float: right;
  font-weight: 500;
}

.bike-reservation-submit {
  background: black;
  border-color: black;
  width: 100%;
  margin-top: 10px;
}

.auth {
  width: 100%;
}

.sign-up,
.log-in {
  display: inline-block;
  width: 50%;
}
//
//.sign-up {
//  float: left;
//}
//
//.log-in {
//  float: right;
//}
//
//




.glyphicon.fast-right-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
