<app-progress></app-progress>
<app-auth-container *ngIf="showAuth | async"></app-auth-container>
<div *ngIf="!(showAuth | async)">
  <div [ngSwitch]="progress | async">
    <app-search-input-container
      *ngSwitchCase="'NO_SEARCH'">
    </app-search-input-container>
    <app-search-loader
      [message]="'Finding bike rentals...'"
      *ngSwitchCase="'PENDING_1'">
    </app-search-loader>
    <app-search-result
      *ngSwitchCase="'VIEWING_RESULT'"
      [tripData]="tripData | async">
    </app-search-result>
    <app-search-result-error
      *ngSwitchCase="'ERROR_1'"
      [error]="error | async">
    </app-search-result-error>
    <app-search-info
      *ngSwitchCase="'READING_INFO'">
    </app-search-info>
    <app-search-loader
      *ngSwitchCase="'PENDING_2'">
    </app-search-loader>
    <app-booking-success
      *ngSwitchCase="'BOOKING_SUCCESS'">
    </app-booking-success>
    <app-booking-error
      *ngSwitchCase="'ERROR_2'">>
    </app-booking-error>
  </div>
</div>

