//:host {
//  position: absolute;
//  top: 10px;
//  left: 55px;
//  width: 275px;
//  z-index: 1;
//}


.alert {
  position: relative;
  //top: 10px;
  //left: 55px;
  //width: 275px;
  //z-index: 2;
  //border: 1px solid grey;
  //padding: 7px 10px;

  .glyphicon-remove {
    position: absolute;
    right: 8px;
    top: 10px;
    cursor: pointer;
  }
}


